.sign-up {
  position: absolute;
  top: 12px;
  left: 1000px;
  width: 128px;
  height: 50px;
}
.my-assignment {
  position: relative;
  line-height: 123.5%;
  font-weight: 500;
}
.account-circle-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.nav,
.profile-name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.profile-name {
  align-items: flex-end;
  gap: var(--gap-9xs);
  color: var(--color-purple-100);
}
.nav {
  position: absolute;
  top: 25px;
  left: 766px;
  align-items: flex-start;
  gap: var(--gap-9xl);
}
.image-1-icon {
  position: absolute;
  top: 6px;
  left: 74px;
  width: 160px;
  height: 63px;
  object-fit: cover;
}
.hero-image {
  position: relative;
  width: 1366px;
  height: 73px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-purple-200);
  font-family: var(--font-poppins);
}
